.summary-addon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary-addon-name {
    color: hsl(231, 11%, 63%);
}

.summary-addon-price {
    color: hsl(213, 96%, 18%);
    font-weight: 500;
}

@media only screen and (max-width: 763px) {
    .summary-addon-price {
        font-weight: 400;
        font-size: 14px;
    }
}