.mobile-plans {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mobile-plan {
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 15px;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    gap: 15px;
}

.mobile-plan-name {
    font-weight: 700;
    font-size: 16px;
    /* margin-top: 40px; */
    margin-bottom: 5px;
}

.mobile-plan-price {
    color: hsl(231, 11%, 63%);
}

.yearly-price {
    color: hsl(213, 96%, 18%);
    margin-top: 5px;
}

.mobile-plan-image {
    display: inline;
}

.mobile-plans-charged {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 50px;
    background-color: hsl(217, 100%, 97%);
    gap: 25px;
}

.mobile-plan-monthly,
.mobile-plan-yearly {
    color: hsl(231, 11%, 63%);
    font-weight: 700;
}

.mobile-plan-monthly {}

.mobile-plan-yearly {}

.active-plan {
    border: 1px solid hsl(243, 100%, 62%);
    background-color: hsl(217, 100%, 97%);
}

.active-date-plan {
    color: black;
}