.thank-you-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
}

.thank-you-container h1 {
    color: hsl(213, 96%, 18%);
}

.thank-you-container p {
    color: hsl(231, 11%, 63%);
    line-height: 25px;
    font-family: 'Ubuntu';
    font-weight: 400;
    text-align: center;
    font-size: 16px;
}