@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Ubuntu:wght@400;500;700&display=swap');

body {
  margin: 0px auto;
  font-family: 'Ubuntu';
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px auto;
  background-color: hsl(206, 94%, 87%);
}

.section-wrapper {
  height: 100%;
  max-height: 544px;
  width: 100%;
  max-width: 940px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  gap: 90px;
}

.steps-container {
  height: 100%;
  width: 275px;
  max-height: 510px;
  margin-left: 20px;
  border-radius: 10px;
  background-image: url('/bg-sidebar-desktop.svg');
  background-size: cover;
}

.steps {
  display: flex;
  gap: 30px;
  flex-flow: column nowrap;
  margin-left: 30px;
  margin-top: 40px;
}

.step {
  display: flex;
  align-items: center;
  color: white;
  gap: 15px;
}

.step-number {
  border: 1px solid white;
  border-radius: 200px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-content {

}

.step-number-title {
  font-weight: 400;
  color: hsl(231, 11%, 63%);
  font-size: 14px;
}

.step-info {
  font-weight: 700;
  letter-spacing: 2px;
}

.section2{
  height: 100%;
  position: relative
}

.personal-info-container {
  height: 100%;
  max-height: 560px;
}

.personal-info-title {
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.personal-info-description {
  color: hsl(231, 11%, 63%);
}

.personal-info-form {
  /* border: 1px solid black; */
  margin-top: 35px;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  /* gap: 15px; */
}

.personal-info-form input {
  padding: 13px;
  border-radius: 5px;
  border: 1px solid hsl(229, 24%, 87%);
  box-shadow: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.personal-info-form-description {
  margin-bottom: 8px;
}

.next-step {
  color: white;
  background-color: hsl(213, 96%, 18%);
  position: absolute;
  bottom: 35px;
  right: 0px;
  padding: 12px 20px 12px 20px;
  border-radius: 7px;
  font-weight: 700;
  cursor: pointer;
}

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.plan {
  border: 1px solid hsl(229, 24%, 87%);
  width: 140px;
  min-height: 160px;
  border-radius: 10px;
  padding: 20px 15px 20px 15px;
  box-sizing: border-box;
  display: flex;
  /* justify-content: space-between; */
  flex-flow: column nowrap;
  cursor: pointer;
}

/* .plan-info-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.plan-name {
  font-weight: 700;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 5px;
}

.plan-price {
  color: hsl(231, 11%, 63%);
}

.yearly-price {
  color: hsl(213, 96%, 18%);
  margin-top: 5px;
}

.plan-image {
  display: block;
}

.plans-charged {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 50px;
  background-color: hsl(217, 100%, 97%);
  gap: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blue;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .2s;
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.plan-monthly, .plan-yearly {
  color: hsl(231, 11%, 63%);
  font-weight: 700;
}

.plan-monthly {

}

.plan-yearly {

}

.active-plan {
  border: 1px solid black;
}

.select-plan-title {
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.select-plan-description {
  margin-bottom: 40px;
}

.active-date-plan {
  color: black;
}

.back-button {
  color: hsl(231, 11%, 63%);
  position: absolute;
  bottom: 35px;
  left: 0px;
  padding: 12px 20px 12px 20px;
  border-radius: 7px;
  font-weight: 700;
  cursor: pointer;
}

.active-step {
   background-color: white;
   color: black;
}