.mobile-steps-container {
    /* display: block; */
}

.mobile-steps {
    margin-top: 30px;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 17px;
}

.mobile-step {
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.active-mobile-step {
    background-color: hsl(206, 94%, 87%);
    color: black;
}